@import '../../shared/sass/variables';

footer {
  background: $color-accent;
  padding: 0;
  margin-top: auto;
  height: 8rem;

    & .copyright {
    color: $color-white;
    text-align: center;
    line-height: 8rem;
  }
}


