.menu-icon {
  padding: 0 14px;
  cursor: pointer;
}

.menu-spacer {
  flex: 1 1 auto;
}

a button {
  text-decoration: none;
  color: black;
  background: white;
}

.active-link button {
  color: #fff;
  background: #ff4080;
}
