<div class="container center-align">
    <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>OH NO!</mat-card-title>
      <mat-card-subtitle>Something went wrong.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{errorImage}}" alt="Photo of Error 500">
    <mat-card-content>
      <h6>{{errorMessage}}</h6>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.flickr.com/search/?text=travel"><button mat-button color="accent">Travel Photography</button></a>
    </mat-card-actions>
  </mat-card>
</div>