
.example-card {
  margin: 2rem;
  padding-bottom: 3rem;
  max-width: 100%;
}

.example-header-image {
  background-image: url('http://chittagongit.com/images/error-image-icon/error-image-icon-15.jpg');
  background-size: cover;
}