.error-card {
  margin: 2rem;
  padding-bottom: 3rem;
}

.error-header-image {
  background-image: url('http://chittagongit.com/images/error-image-icon/error-image-icon-15.jpg');
  background-size: cover;
}
