<div class="form-container">
  <form [formGroup]="cityForm" (ngSubmit)="submitHandler()" class="form city-form">
    <mat-form-field class="form-full-width">
      <input matInput placeholder="Enter City" formControlName="title" required />
      <mat-error *ngIf="cityForm.controls['title'].invalid && cityForm.controls['title'].touched">
        {{ errorMessage }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <textarea matInput placeholder="Enter City Description" formControlName="content" rows="10" required></textarea>
      <mat-error *ngIf="cityForm.controls['content'].invalid && cityForm.controls['content'].touched">
        {{ errorMessage }}
      </mat-error>
      <!-- <mat-error
        *ngIf="cityForm.controls['content'].invalid && cityForm.controls['content'].touched && cityForm.controls['content'].errors.maxlength.actualLength > 300">
        {{ errorMessageLength }}
      </mat-error> -->
    </mat-form-field>
    <div class="row">
      <div class="col s12 m6">
        <mat-form-field class="form-full-width">
          <input matInput placeholder="Enter Latitude" formControlName="lat">
        </mat-form-field>
      </div>
      <div class="col s12 m6">
        <mat-form-field class="form-full-width">
          <input matInput placeholder="Enter Longitude" formControlName="long">
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="form-full-width">
      <input matInput placeholder="Enter Image Url" formControlName="image_url">
    </mat-form-field>

    <button [disabled]="cityForm.invalid" class="btn waves-effect waves-light blue" color='primary'>
      Submit<i class="material-icons right">send</i>
    </button>
    <button (click)="onCancelClick(); $event.preventDefault()" class="btn waves-effect waves-light red" color="accent">
      Cancel<i class="material-icons right">cancel</i>
    </button>
  </form>
</div>
