.form-container {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 20px #ccc;
  margin-bottom: 50px;
}

.form-container>* {
  width: 100%;
}

.form-full-width,
textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.form button {
  margin-right: 1rem;
}

td {
  padding-right: 8px;
}

input,
tr {
  border: none;
}

input:focus,
tr:focus {
  border: none !important;

}
