.cities-container {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

table {
  margin: 2rem 0;
}

.cities-container table td {
  padding: 1rem 1rem
}

.table__header {
  background: pink;
}
