@import '../../shared/sass/variables';

.cities-container {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;

  & table td {
    padding: 1rem 1rem;
  }
  & th {
    color: $color-white;
  } 
}

table {
  margin: 2rem 0;
}

.cities__header {
  color:$color-accent;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: .5rem;
  text-decoration: underline;
}

.table__header {
  background: $color-primary;
}

.place-icon {
  color:$color-primary;
}


